<template>
    <div>

    </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
@Component
export default class <%= changeCase.pascalCase(name) %>Component extends Vue {

}
</script>